<div class="movie-container">
  <div class="movie-div">
    <p><%= @movie.title %></p>
    <p><img src="<%= @movie.poster_url%>" width="230" height="310"></p>
    <p><%= @movie.year %></p>
    <p><%= @movie.plot  %></p>
    <p><%= @movie.director %></p>
    <p><%= @movie.writer %></p>
    <p><%= @movie.genre %></p>
  </div>

  <div class="add-to-movie-list">
    <%= simple_form_for [@movie, @bookmark] do |f| %>
      <%= f.input :list_id ,label: false, collection: current_user.lists.map{ |list| [list.title, list.id, { class: "nice-class" }]}  %>
      <%= f.button :submit,  { class: "submit-button" } %>
    <% end %>
  </div>



  <div class="movie-likes">
    <%= @movie.likes.count %>
    <% @liked = @movie.likes.where(user_id: current_user.id) %>
    <% if @liked.empty?  %>
    <%= simple_form_for @like do |f| %>
      <%= f.input :likeable_type, :as => :hidden, :input_html => { :value => "Movie" } %>
      <%= f.input :likeable_id, :as => :hidden, :input_html => { :value => @movie.id } %>
      <%= f.submit "Like" %>
    <% end %>
    <% else %>
      <%= link_to "Delete", like_path(@liked[0].id), data: {turbo_method: :delete} %>
      <% end %>
  </div>
</div>





<div class="post-section-container">

    <div class="post-form">
      <%= simple_form_for [@movie, @post] do |f| %>
          <%= f.input :content %>
          <%= f.submit %>
      <% end %>
    </div>

    <div class="post-section">

    <div class="post-content">
      <% @posts.each do |post| %>
          <p><%= post.content %></p>
          <%= link_to "Delete", post_path(post), data: {turbo_method: :delete} %>
    </div>

    <div class="post-likes">
      <p><%= post.likes.count %> Likes</p>
   <% @liked = post.likes.where(user_id: current_user.id) %>
    <% if @liked.empty?  %>
      <%= simple_form_for @like do |f| %>
        <%= f.input :likeable_type, :as => :hidden, :input_html => {:value => "Post"} %>
        <%= f.input :likeable_id, :as => :hidden, :input_html => {:value => post.id} %>
        <%= f.submit %>
      <% end %>
      <% else %>
      <%= link_to "Delete", like_path(@liked[0].id), data: {turbo_method: :delete} %>
      <% end %>
    </div>

    <div class="comment-form">
        <%= simple_form_for [post, @comment] do |f| %>
          <%= f.input :content %>
          <%= f.submit %>
        <% end %>
    </div>


    <div class="comment-content">
      <p><% post.comments.each do |comment| %></p>
      <p><%= comment.content %></p>
      <%= link_to "Delete", comment_path(comment), data: {turbo_method: :delete} %>
    </div>


    <div class="comment-likes">
      <p><%= comment.likes.count %> Likes</p>
       <% @liked = comment.likes.where(user_id: current_user.id) %>
       <% if @liked.empty?  %>
      <%= simple_form_for  @like do |f| %>
        <%= f.input :likeable_type, :as => :hidden, :input_html => {:value => "Comment"} %>
        <%= f.input :likeable_id, :as => :hidden, :input_html => {:value => comment.id} %>
        <%= f.submit %>
      <% end %>
        <% else %>
      <%= link_to "Delete", like_path(@liked[0].id), data: {turbo_method: :delete} %>
      <% end %>
    </div>
    <% end %>
    <% end %>
</div>
